html {
    box-sizing: border-box;
}

a {
    color: inherit;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background-color: #1D1F1F;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1840px;
    padding: 0 10px;
    background-color: #1D1F1F;
    margin: 0 auto;
}

.main {
    max-width: 1940px;
    padding: 0 0px;
    margin: 0 auto;
}

.header__top {
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
    padding-bottom: 35px;
    /* margin-left: 50px; */
}

.active_btn__header{
    color: #FEF600;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}

.logo {
    margin-bottom: 35px;
}

.menu__list {
    display: flex;
    margin-left: 50px;
}

.menu__item {
    margin-left: 50px;
    margin-top: 9px;
    margin-bottom: 46px;
}

.menu__link {
    font-weight: 500;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 28px;
}

.lang__list {
    display: flex;
    color: #8C8C8C;
    font-size: 18px;
    line-height: 21px;
    margin-left: 290px;
    margin-right: 100px;
    margin-top: 14px;
    margin-bottom: 50px;
}

.lang__link--active {
    font-weight: 700;
    color: #FFFFFF;
}

.list__link__cart {
    margin-top: 2px;
    margin-bottom: 37px;
}

.menu__link:hover {
    color: #FEF600;
}

.background {
    margin-top: 189px;
    position: absolute;
    /* margin-left: -15px; */
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.title {
    font-size: 72px;
    font-weight: 900;
    color: #FFFFFF;
    position: relative;
    float: left;
    line-height: 84px;
    margin-top: 100px;
    margin-left: 80px;
}

.title a {
    color: #FEF600;
}

.header__content-btn {
    margin-left: 1400px;
    margin-top: 80px;
    position: relative;
    color: #1D1F1F;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    padding: 15px 80px;
    background-color: #FEF600;
    box-shadow: 0 0 25px #FEF600;
}

.sklad {
    display: flex;
    margin-top: 60px;
    font-size: 36px;
    font-weight: 900;
    line-height: 42px;
}

.sklad__1:hover {
    color: #FEF600;
    box-shadow: 0 0 5px #1D1F1F;
}

.sklad__1 {
    margin-left: 50px;
    padding: 30px 140px;
    color: #FFFFFF;
    background-color: #262727;
    box-shadow: 0 0 5px #FEF600
}

.sklad__2 {
    margin-left: 50px;
    padding: 30px 140px;
    color: #FFFFFF;
    background-color: #262727;
    box-shadow: 0 0 5px #FEF600
}

.sklad__2:hover {
    color: #FEF600;
    box-shadow: 0 0 5px #1D1F1F;
}

.sklad__3 {
    margin-left: 50px;
    padding: 30px 140px;
    color: #FFFFFF;
    background-color: #262727;
    box-shadow: 0 0 5px #FEF600;
}

.sklad__3:hover {
    color: #FEF600;
    box-shadow: 0 0 5px #1D1F1F;
}

.sklad__4 {
    margin-left: 50px;
    padding: 30px 140px;
    color: #FFFFFF;
    background-color: #262727;
    box-shadow: 0 0 5px #FEF600
}

.sklad__4:hover {
    color: #FEF600;
    box-shadow: 0 0 5px #1D1F1F;
}

.media__contact {
    font-size: 48px;
    font-weight: 800;
    line-height: 56px;
    color: #FFFFFF;
    margin-top: 18px;
    margin-left: 50px;
}

.social__media-btn {
    display: flex;
    margin-top: 100px;
}

.btn__phone {
    margin-left: 102px;
}

.contact__number-1 {
    margin-top: 7px;
    margin-left: 30px;
    font-size: 36px;
    font-weight: 500;
    line-height: 42px;
    color: #FFFFFF;
}

.contact__number-2 {
    margin-top: 5px;
    margin-left: 30px;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    color: #8C8C8C;
}

.btn__email {
    margin-left: 102px;
}

.btn__media-2 {
    margin-top: 5px;
    margin-left: 5px;
    font-size: 24px;
    font-weight: 400;
    color: #8C8C8C;
}

.btn__social-media {
    margin-left: 102px;
}

.footer__container {
    max-width: 1840px;
    padding: 0 10px;
    background-color: #262727;
    margin: 0 auto;
}

.footer__first-line {
    display: flex;
    margin-top: 120px;
}

.footer__logo {
    margin-top: 69px;
    margin-left: 50px;
}

.footer__contact-number {
    margin-top: 34px;
    margin-left: 940px;
    margin-right: 50px;
    font-size: 48px;
    font-weight: 900;
    line-height: 56px;
    color: #FFFFFF;
}

.footer__social-media {
    display: flex;
    margin-left: 1230px;
    margin-top: 26px;
    margin-right: 50px;
}

.footer__instagram {
    margin-right: 35px;
}

.copyright {
    margin-left: 1220px;
    margin-top: 26px;
    margin-right: 50px;
}

.footer__last-line {
    display: flex;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    color: #8C8C8C;
    margin-top: 25px;
    margin-bottom: 36px;
}

.all-rights-reserved {
    margin-bottom: 36px;
    margin-left: 50px;
}

.footer__adres {
    margin-left: 1140px;
    margin-right: 50px;
}


/* Catalog page */

.main__catalog {
    display: flex;
    max-width: 1920px;
    padding: 0 0px;
    margin: 0 auto;
}

.main__catalog-search {
    position: absolute;
    margin-left: 0px;
}

.catalog__poisk {
    padding-top: 41px;
    padding-bottom: 41px;
    padding-left: 40px;
    padding-right: 187px;
    color: #FEF600;
    background-color: #FEF600;
}

.catalog__poisk input {
    background-color: #FEF600;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    color: #262727;
}

.catalog__list-1:hover {
    color: #262727;
    background-color: #8C8C8C;
}

.catalog__list-1 {
    padding-top: 39px;
    padding-bottom: 38px;
    padding-left: 40px;
    padding-right: 355px;
    background-color: #262727;
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    color: #8C8C8C;
}

.catalog__list-2:hover {
    color: #262727;
    background-color: #8C8C8C;
}

.catalog__list-2 {
    padding-top: 39px;
    padding-bottom: 38px;
    padding-left: 40px;
    padding-right: 355px;
    background-color: #262727;
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    color: #8C8C8C;
}

.catalog__list-3:hover {
    color: #262727;
    background-color: #8C8C8C;
}

.catalog__list-3 {
    padding-top: 39px;
    padding-bottom: 38px;
    padding-left: 40px;
    padding-right: 355px;
    background-color: #262727;
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    color: #8C8C8C;
}

.catalog__list-4:hover {
    color: #262727;
    background-color: #8C8C8C;
}

.catalog__list-4 {
    padding-top: 39px;
    padding-bottom: 38px;
    padding-left: 40px;
    padding-right: 355px;
    background-color: #262727;
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    color: #8C8C8C;
}

.catalog_name{
    height: 56px;
    width: 181px;
    left: 0px;
    top: 0px;
    border-radius: undefinedpx;
    margin-top: 36px;
    margin-left: 549px;
    display: flex;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.block_main_1{
    display: flex;
    margin-left: 530px; 
}
.img_block_1{
    display: block;
    margin-left: 530px;
    margin-top: -290px;
}
.img_block_2{
    display: block;
    margin-top: -290px;
    margin-left: 980px;
}

.img_block_3{
    display: block;
    margin-top: -290px;
    margin-left: 1430px;
}

.block_main_2{
    display: flex;
    margin-left: 530px;
}
.img_block_1_line2{
    display: block;
    margin-left: 530px;
    margin-top: -290px;
}
.img_block_2_line2{
    display: block;
    margin-top: -290px;
    margin-left: 980px;
}

.img_block_3_line2{
    display: block;
    margin-top: -290px;
    margin-left: 1430px;
}

.block_main_3{
    display: flex;
    margin-left: 530px;
}
.img_block_1_line3{
    display: block;
    margin-left: 530px;
    margin-top: -290px;
}
.img_block_2_line3{
    display: block;
    margin-top: -290px;
    margin-left: 980px;
}

.img_block_3_line3{
    display: block;
    margin-top: -290px;
    margin-left: 1430px;
}
.catalog_tovar_1{
    position: absolute;
    margin-top: -815px;
    margin-left: 780px;
    height: 28px;
    width: 145px;
    border-radius: nullpx;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}
.catalog_gramm_1{
    position: absolute; 
    margin-top: -780px;
    margin-left: 780px;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    height: 16px;
    width: 145px;
    border-radius: nullpx;
    color: #8C8C8C;
}
.catalog_info_1{
    position: absolute; 
    margin-top: -750px;
    margin-left: 780px;
    height: 56px;
    width: 145px;
    border-radius: nullpx;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #8C8C8C;
}
.catalog_price_1{
    position: absolute; 
    margin-top: -650px;
    margin-left: 780px;
    height: 21px;
    width: 63px;
    border-radius: nullpx;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}
.catalog_cart_1{
    position: absolute; 
    margin-top: -652px;
    margin-left: 900px;
}
.catalog_tovar_2{
    position: absolute;
    margin-top: -815px;
    margin-left: 1230px;
    height: 28px;
    width: 145px;
    border-radius: nullpx;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}
.catalog_gramm_2{
    position: absolute; 
    margin-top: -780px;
    margin-left: 1230px;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    height: 16px;
    width: 145px;
    border-radius: nullpx;
    color: #8C8C8C;
}
.catalog_info_2{
    position: absolute; 
    margin-top: -750px;
    margin-left: 1230px;
    height: 56px;
    width: 145px;
    border-radius: nullpx;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #8C8C8C;
}
.catalog_price_2{
    position: absolute; 
    margin-top: -650px;
    margin-left: 1230px;
    height: 21px;
    width: 63px;
    border-radius: nullpx;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}
.catalog_cart_2{
    position: absolute; 
    margin-top: -652px;
    margin-left: 1350px;
}

.catalog_tovar_3{
    position: absolute;
    margin-top: -815px;
    margin-left: 1680px;
    height: 28px;
    width: 145px;
    border-radius: nullpx;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}
.catalog_gramm_3{
    position: absolute; 
    margin-top: -780px;
    margin-left: 1680px;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    height: 16px;
    width: 145px;
    border-radius: nullpx;
    color: #8C8C8C;
}
.catalog_info_3{
    position: absolute; 
    margin-top: -750px;
    margin-left: 1680px;
    height: 56px;
    width: 145px;
    border-radius: nullpx;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #8C8C8C;
}
.catalog_price_3{
    position: absolute; 
    margin-top: -650px;
    margin-left: 1680px;
    height: 21px;
    width: 63px;
    border-radius: nullpx;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}
.catalog_cart_3{
    position: absolute; 
    margin-top: -652px;
    margin-left: 1800px;
}
.catalog_tovar_4{
    position: absolute;
    margin-top: -530px;
    margin-left: 780px;
    height: 28px;
    width: 145px;
    border-radius: nullpx;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}
.catalog_gramm_4{
    position: absolute; 
    margin-top: -495px;
    margin-left: 780px;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    height: 16px;
    width: 145px;
    border-radius: nullpx;
    color: #8C8C8C;
}
.catalog_info_4{
    position: absolute; 
    margin-top: -465px;
    margin-left: 780px;
    height: 56px;
    width: 145px;
    border-radius: nullpx;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #8C8C8C;
}
.catalog_price_4{
    position: absolute; 
    margin-top: -365px;
    margin-left: 780px;
    height: 21px;
    width: 63px;
    border-radius: nullpx;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}
.catalog_cart_4{
    position: absolute; 
    margin-top: -367px;
    margin-left: 900px;
}
.catalog_tovar_5{
    position: absolute;
    margin-top: -530px;
    margin-left: 1230px;
    height: 28px;
    width: 145px;
    border-radius: nullpx;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}
.catalog_gramm_5{
    position: absolute; 
    margin-top: -495px;
    margin-left: 1230px;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    height: 16px;
    width: 145px;
    border-radius: nullpx;
    color: #8C8C8C;
}
.catalog_info_5{
    position: absolute; 
    margin-top: -465px;
    margin-left: 1230px;
    height: 56px;
    width: 145px;
    border-radius: nullpx;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #8C8C8C;
}
.catalog_price_5{
    position: absolute; 
    margin-top: -365px;
    margin-left: 1230px;
    height: 21px;
    width: 63px;
    border-radius: nullpx;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}
.catalog_cart_5{
    position: absolute; 
    margin-top: -367px;
    margin-left: 1350px;
}
.catalog_tovar_6{
    position: absolute;
    margin-top: -530px;
    margin-left: 1680px;
    height: 28px;
    width: 145px;
    border-radius: nullpx;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}
.catalog_gramm_6{
    position: absolute; 
    margin-top: -495px;
    margin-left: 1680px;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    height: 16px;
    width: 145px;
    border-radius: nullpx;
    color: #8C8C8C;
}
.catalog_info_6{
    position: absolute; 
    margin-top: -465px;
    margin-left: 1680px;
    height: 56px;
    width: 145px;
    border-radius: nullpx;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #8C8C8C;
}
.catalog_price_6{
    position: absolute; 
    margin-top: -365px;
    margin-left: 1680px;
    height: 21px;
    width: 63px;
    border-radius: nullpx;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}
.catalog_cart_6{
    position: absolute; 
    margin-top: -367px;
    margin-left: 1800px;
}
.catalog_tovar_7{
    position: absolute;
    margin-top: -235px;
    margin-left: 780px;
    height: 28px;
    width: 145px;
    border-radius: nullpx;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}
.catalog_gramm_7{
    position: absolute; 
    margin-top: -200px;
    margin-left: 780px;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    height: 16px;
    width: 145px;
    border-radius: nullpx;
    color: #8C8C8C;
}
.catalog_info_7{
    position: absolute; 
    margin-top: -170px;
    margin-left: 780px;
    height: 56px;
    width: 145px;
    border-radius: nullpx;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #8C8C8C;
}
.catalog_price_7{
    position: absolute; 
    margin-top: -70px;
    margin-left: 780px;
    height: 21px;
    width: 63px;
    border-radius: nullpx;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}
.catalog_cart_7{
    position: absolute; 
    margin-top: -72px;
    margin-left: 900px;
}
.catalog_tovar_8{
    position: absolute;
    margin-top: -235px;
    margin-left: 1230px;
    height: 28px;
    width: 145px;
    border-radius: nullpx;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}
.catalog_gramm_8{
    position: absolute; 
    margin-top: -200px;
    margin-left: 1230px;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    height: 16px;
    width: 145px;
    border-radius: nullpx;
    color: #8C8C8C;
}
.catalog_info_8{
    position: absolute; 
    margin-top: -170px;
    margin-left: 1230px;
    height: 56px;
    width: 145px;
    border-radius: nullpx;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #8C8C8C;
}
.catalog_price_8{
    position: absolute; 
    margin-top: -70px;
    margin-left: 1230px;
    height: 21px;
    width: 63px;
    border-radius: nullpx;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}
.catalog_cart_8{
    position: absolute; 
    margin-top: -72px;
    margin-left: 1350px;
}
.catalog_tovar_9{
    position: absolute;
    margin-top: -235px;
    margin-left: 1680px;
    height: 28px;
    width: 145px;
    border-radius: nullpx;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}
.catalog_gramm_9{
    position: absolute; 
    margin-top: -200px;
    margin-left: 1680px;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    height: 16px;
    width: 145px;
    border-radius: nullpx;
    color: #8C8C8C;
}
.catalog_info_9{
    position: absolute; 
    margin-top: -170px;
    margin-left: 1680px;
    height: 56px;
    width: 145px;
    border-radius: nullpx;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #8C8C8C;
}
.catalog_price_9{
    position: absolute; 
    margin-top: -70px;
    margin-left: 1680px;
    height: 21px;
    width: 63px;
    border-radius: nullpx;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}
.catalog_cart_9{
    position: absolute; 
    margin-top: -72px;
    margin-left: 1800px;
}
.RUB {
    position:absolute;
    margin-top: -910px;
    margin-left: 1780px;
    height: 21px;
    width: 34px;
    border-radius: nullpx;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: right;
    color:#FFFFFF;
}
.USD {
    position:absolute;
    margin-top: -910px;
    margin-left: 1820px;
    height: 21px;
    width: 34px;
    border-radius: nullpx;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: right;
    color: #8C8C8C;
}
.near_RUB{
    position:absolute;
    margin-top: -911px;
    margin-left: 1785px;
    height: 21px;
    width: 34px;
    border-radius: nullpx;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: right;
    color: #FFFFFF;
}
.catalog_sklad_1{
    position: absolute;
    margin-top: -840px;
    margin-left: 905px;
    font-size: 18px;
    font-family: Roboto;
    font-weight: 700;
    color: red;
}
.catalog_sklad_2{
    position: absolute;
    margin-top: -840px;
    margin-left: 1350px;
    font-size: 18px;
    font-family: Roboto;
    font-weight: 700;
    color: red;
}
.catalog_sklad_3{
    position: absolute;
    margin-top: -840px;
    margin-left: 1805px;
    font-size: 18px;
    font-family: Roboto;
    font-weight: 700;
    color: red;
}
.catalog_sklad_4{
    position: absolute;
    margin-top: -550px;
    margin-left: 905px;
    font-size: 18px;
    font-family: Roboto;
    font-weight: 700;
    color: red;
}
.catalog_sklad_5{
    position: absolute;
    margin-top: -550px;
    margin-left: 1360px;
    font-size: 18px;
    font-family: Roboto;
    font-weight: 700;
    color: red;
}
.catalog_sklad_6{
    position: absolute;
    margin-top: -550px;
    margin-left: 1815px;
    font-size: 18px;
    font-family: Roboto;
    font-weight: 700;
    color: red;
}
.catalog_sklad_7{
    position: absolute;
    margin-top: -260px;
    margin-left: 905px;
    font-size: 18px;
    font-family: Roboto;
    font-weight: 700;
    color: red;
}
.catalog_sklad_8{
    position: absolute;
    margin-top: -260px;
    margin-left: 1360px;
    font-size: 18px;
    font-family: Roboto;
    font-weight: 700;
    color: red;
}
.catalog_sklad_9{
    position: absolute;
    margin-top: -260px;
    margin-left: 1815px;
    font-size: 18px;
    font-family: Roboto;
    font-weight: 700;
    color: red;
}
/*End of skidki and katalog*/


/* HOW ORDER */

.how_order{
    max-width: 1940px;
    padding: 0 10px;
    background-color: #1D1F1F;
    margin: 0 auto;
}

.how_order_main_1 {
    display: flex;
}

.order_element_1 {
    display: flex;
}

.order_process {
    font-size: 48px;
    font-weight: 800;
    line-height: 56px;
    color: #FFFFFF;
    margin-left: 242px;
    margin-top: 61px;
}


/* Тут text_1 равен заголовку h1 а text_info_1 h2 */

.text_1 {
    margin-top: 69px;
    margin-left: 30px;
    height: 42px;
    width: 300px;
    left: 0px;
    top: 0px;
    border-radius: nullpx;
    font-size: 36px;
    color: #FFFFFF;
}

.text_info_1 {
    margin-top: 8px;
    margin-left: 30px;
    height: 42px;
    width: 550px;
    left: 0px;
    top: 0px;
    border-radius: nullpx;
    font-size: 24px;
    color: #8C8C8C;
}

.order_element_1 img {
    margin-top: 69px;
    margin-left: 242px;
}

.text_2 {
    margin-top: 105px;
    margin-left: 30px;
    height: 42px;
    width: 269px;
    left: 0px;
    top: 0px;
    border-radius: nullpx;
    font-size: 36px;
    color: #FFFFFF;
}

.text_info_2 {
    margin-top: 8px;
    margin-left: 30px;
    height: 28px;
    width: 538px;
    left: 0px;
    top: 50px;
    border-radius: nullpx;
    font-size: 24px;
    color: #8C8C8C;
}

.order_element_2 {
    display: flex;
}

.order_element_2 img {
    margin-top: 103px;
    margin-left: 242px;
}

.text_3 {
    margin-top: 107px;
    margin-left: 30px;
    height: 42px;
    width: 360px;
    left: 0px;
    top: 0px;
    border-radius: nullpx;
    font-size: 36px;
    color: #FFFFFF;
}

.text_info_3 {
    margin-top: 8px;
    margin-left: 30px;
    height: 28px;
    width: 538px;
    left: 0px;
    top: 50px;
    border-radius: nullpx;
    font-size: 24px;
    color: #8C8C8C;
}

.order_element_3 {
    display: flex;
}

.order_element_3 img {
    margin-top: 102px;
    margin-left: 242px;
}

.text_4 {
    margin-top: 69px;
    margin-left: 30px;
    height: 42px;
    width: 536px;
    left: 0px;
    top: 0px;
    border-radius: nullpx;
    font-size: 36px;
    color: #FFFFFF;
}

.text_info_4 {
    margin-top: 8px;
    margin-left: 30px;
    height: 56px;
    width: 538px;
    font-size: 24px;
    color: #8C8C8C;
}

.order_element_4 {
    display: flex;
}

.order_element_4 img {
    margin-top: 69px;
    margin-left: 68px;
}

.text_5 {
    margin-top: 105px;
    margin-left: 30px;
    height: 42px;
    width: 297px;
    left: 0px;
    top: 0px;
    border-radius: nullpx;
    font-size: 36px;
    color: #FFFFFF;
}

.text_info_5 {
    margin-top: 8px;
    margin-left: 30px;
    height: 28px;
    width: 538px;
    left: 0px;
    top: 50px;
    border-radius: nullpx;
    font-size: 24px;
    color: #8C8C8C;
}

.order_element_5 {
    display: flex;
}

.order_element_5 img {
    margin-top: 106px;
    margin-left: 68px;
}

.text_6 {
    margin-top: 107px;
    margin-left: 30px;
    height: 42px;
    width: 329px;
    left: 0px;
    top: 0px;
    border-radius: nullpx;
    font-size: 36px;
    color: #FFFFFF;
}

.text_info_6 {
    margin-top: 150px;
    margin-left: -330px;
    height: 56px;
    width: 538px;
    left: 0px;
    top: 50px;
    border-radius: nullpx;
    font-size: 24px;
    color: #8C8C8C;
}

.order_element_6 {
    display: flex;
}

.order_element_6 img {
    margin-top: 106px;
    margin-left: 68px;
}


/* Manufacturers page */

.manufactures{
    max-width: 1940px;
    padding: 0 10px;
    background-color: #1D1F1F;
    margin: 0 auto;
}

.big_block {
    margin-left: 50.5px;
    margin-right: 50.5px;
    display: block;
    position: relative;
}

.rectangle {
    height: 500px;
    width: 488px;
    margin-left: 90px;
    margin-top: -566px;
    display: block;
    position: relative;
    z-index: 1;
}

.name_of_company {
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    margin-top: 105px;
    margin-left: -1115px;
    width: 460px;
    height: 56px;
    display: flex;
    position: absolute;
}

.manufacturer_name {
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #8C8C8C;
    margin-top: 160px;
    margin-left: -1115px;
    width: 453px;
    height: 56px;
    display: flex;
    position: absolute;
}

.warehouse {
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #8C8C8C;
    margin-top: -12px;
    margin-left: 155px;
    width: 453px;
    height: 56px;
    display: flex;
}

.info_about_manufacturers {
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
    color: #8C8C8C;
    margin-top: 30px;
    margin-left: 155px;
    margin-right: 80px;
    width: 1016px;
    height: 168px;
    display: flex;
}

.arrow_manu {
    margin-top: -117.5px;
    margin-left: 1650px;
    display: flex;
}

.next_near_arrow {
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: right;
    color: #FFFFFF;
    margin-top: -20px;
    margin-left: 1520px;
    display: flex;
}


/* manu = manufacture */

.catalog_manu {
    display: flex;
    margin-top: 200px;
    margin-left: 100px;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}



.tovar_1 {
    display: block;
    position: absolute;
    margin-top: -240px;
    margin-left: 330px;
    height: 28px;
    width: 145px;
    border-radius: nullpx;
    font-size: 24px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}


.gramm_1 {
    display: block;
    position: absolute;
    margin-top: -200px;
    margin-left: 330px;
    height: 16px;
    width: 145px;
    border-radius: nullpx;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #8C8C8C;

}
.info_tovar_1 {
    display: block;
    position: absolute;
    margin-top: -170px;
    margin-left: 330px;
    border-radius: nullpx;
    font-family: Roboto;
    width: 145px;
    height: 56px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #8C8C8C;
}
.price_1 {
    display: flex;
    position: absolute;
    margin-top: -75px;
    margin-left: 330px;
    height: 21px;
    width: 63px;
    border-radius: nullpx;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}
.cart_near_blocks_1 {
    display: flex;
    margin-top: -77px;
    margin-left: 450px;
    position: absolute;
}
.tovar_2 {
    display: block;
    position: absolute;
    margin-top: -240px;
    margin-left: 775px;
    height: 28px;
    width: 145px;
    border-radius: nullpx;
    font-size: 24px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}
.gramm_2 {
    display: block;
    position: absolute;
    margin-top: -200px;
    margin-left: 775px;
    height: 16px;
    width: 145px;
    border-radius: nullpx;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #8C8C8C;

}

.info_tovar_2 {
    display: block;
    position: absolute;
    margin-top: -170px;
    margin-left: 775px;
    border-radius: nullpx;
    font-family: Roboto;
    width: 145px;
    height: 56px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #8C8C8C;
}
.price_2 {
    display: flex;
    position: absolute;
    margin-top: -75px;
    margin-left: 775px;
    height: 21px;
    width: 63px;
    border-radius: nullpx;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}
.cart_near_blocks_2 {
    display: flex;
    margin-top: -77px;
    margin-left: 895px;
    position: absolute;
}
.tovar_3 {
    display: block;
    position: absolute;
    margin-top: -240px;
    margin-left: 1215px;
    height: 28px;
    width: 145px;
    border-radius: nullpx;
    font-size: 24px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}


.gramm_3 {
    display: block;
    position: absolute;
    margin-top: -200px;
    margin-left: 1215px;
    height: 16px;
    width: 145px;
    border-radius: nullpx;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #8C8C8C;

}
.info_tovar_3 {
    display: block;
    position: absolute;
    margin-top: -170px;
    margin-left: 1215px;
    border-radius: nullpx;
    font-family: Roboto;
    width: 145px;
    height: 56px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #8C8C8C;
}
.price_3 {
    display: flex;
    position: absolute;
    margin-top: -75px;
    margin-left: 1215px;
    height: 21px;
    width: 63px;
    border-radius: nullpx;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}
.cart_near_blocks_3 {
    display: flex;
    margin-top: -77px;
    margin-left: 1335px;
    position: absolute;
}
.tovar_4 {
    display: block;
    position: absolute;
    margin-top: -240px;
    margin-left: 1655px;
    height: 28px;
    width: 145px;
    border-radius: nullpx;
    font-size: 24px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}
.gramm_4 {
    display: block;
    position: absolute;
    margin-top: -200px;
    margin-left: 1655px;
    height: 16px;
    width: 145px;
    border-radius: nullpx;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #8C8C8C;

}

.info_tovar_4 {
    display: block;
    position: absolute;
    margin-top: -170px;
    margin-left: 1655px;
    border-radius: nullpx;
    font-family: Roboto;
    width: 145px;
    height: 56px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #8C8C8C;
}
.price_4 {
    display: flex;
    position: absolute;
    margin-top: -75px;
    margin-left: 1655px;
    height: 21px;
    width: 63px;
    border-radius: nullpx;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}
.cart_near_blocks_4 {
    display: flex;
    margin-top: -77px;
    margin-left: 1775px;
    position: absolute;
}





.rectangle_1 {
    margin-top: 60px;
    display: block;
    margin-left: 80px;
    position: relative;
}


.rectangle_2 {
    display: block;
    margin-top: -290px;
    margin-left: 520px;
    position: relative;
}

.rectangle_3 {
    display: block;
    margin-top: -290px;
    margin-left: 960px;
    position: relative;
}

.rectangle_4 {
    display: block;
    margin-top: -290px;
    margin-left: 1400px;
    position: relative;
}

.image_rectangle_1 {
    margin-top: -290px;
    display: block;
    margin-left: 80px;
    position: absolute;
}

.image_rectangle_2 {
    margin-top: -290px;
    display: block;
    margin-left: 520px;
    position: absolute;
}

.image_rectangle_3 {
    margin-top: -290px;
    display: block;
    margin-left: 960px;
    position: absolute;
}

.image_rectangle_4 {
    margin-top: -290px;
    display: block;
    margin-left: 1400px;
    position: absolute;
}

.name_of_item {
    display: inline-block;
    position: relative;
    margin-left: 350px;
    margin-top: 100px;
    height: 28px;
    width: 145px;
    left: 0px;
    top: 0px;
    border-radius: nullpx;
}
